@import "colors.variables.scss";

// Neutral 0 Text Color
.text-neutral-0-text {
  color: $neutral-0-text;
}

// Neutral 1 Text Color
.text-neutral-1-text {
  color: $neutral-1-text;
}

// Neutral 2 Text Color
.text-neutral-2 {
  color: $neutral-2;
}

// Neutral 3 Text Color
.text-neutral-3-text {
  color: $neutral-3-text;
}

// Neutral 4 Text Color
.text-neutral-4 {
  color: $neutral-4;
}

// Neutral 5 Text Color
.text-neutral-5 {
  color: $neutral-5;
}

.bg-gradient-0 {
  background: $gradient-0;
}

.bg-gradient-45 {
  background: $gradient-45;
}
