$size-4px: 4px;
$size-8px: 8px;
$size-10px: 10px;
$size-12px: 12px;
$size-16px: 16px;
$size-20px: 20px;
$size-24px: 24px;
$size-30px: 30px;
$size-32px: 32px;
$size-40px: 40px;
$size-48px: 48px;
$size-60px: 60px;
$size-64px: 64px;

$margin-xl: 32px;
$margin-lg: 32px;
$margin-md: 24px;
$margin-sm: 24px;
$margin-xs: 24px;

$grid-auto-columns-xl: 98px;

$breakpoints: 'xs', 'sm', 'md', 'lg', 'xl';

$max-layout-width: 1980px;
