@import 'layout.variables.scss';
@mixin quasar-col($size, $value) {
  .q-col-#{$size}-#{$value} {
    grid-column: span $value;
  }
}

.container {
  --columns: 12;

  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(auto-fit, 1fr);
}

@media (min-width: $breakpoint-xs)  {
  .container {
    --columns: 4;
    margin: $margin-xs;
    gap: $flex-gutter-xs;

    @each $breakpoint in $breakpoints {
      @for $i from 1 through 4 {
        @include quasar-col('xs', $i);
      }
    }
  }
}

@media (min-width: $breakpoint-sm + 1) {
  .container {
    --columns: 8;
    margin: $margin-sm;
    gap: $flex-gutter-sm;
    @each $breakpoint in $breakpoints {
      @for $i from 1 through 8 {
        @include quasar-col('sm', $i);
      }
    }
  }
}

@media (min-width: $breakpoint-md + 1) {
  .container {
    --columns: 10;
    margin: $margin-md;
    gap: $flex-gutter-md;

    @each $breakpoint in $breakpoints {
      @for $i from 1 through 10 {
        @include quasar-col('md', $i);
      }
    }
  }
}

@media (min-width: $breakpoint-lg + 1) {
  .container {
    --columns: 12;
    margin: $margin-lg;
    gap: $flex-gutter-lg;

    @each $breakpoint in $breakpoints {
      @for $i from 1 through 12 {
        @include quasar-col('lg', $i);
      }
    }
  }
}

@media (min-width: $breakpoint-xl + 1) {
  .container {
    --columns: 12;
    margin: $margin-xl;
    gap: $flex-gutter-xl;

    @each $breakpoint in $breakpoints {
      @for $i from 1 through 12 {
        @include quasar-col('xl', $i);
      }
    }
  }
}

// Flexible Layout --- example
// @mixin card-position($id, $col-start, $col-end, $row-start, $row-end) {
//   .card-#{$id} {
//     grid-column-start: $col-start;
//     grid-column-end: $col-end;
//     grid-row-start: $row-start;
//     grid-row-end: $row-end;
//   }
// }

// @media (min-width: $breakpoint-xs) {
//   .container {
//     margin: $margin-xs;
//     gap: $flex-gutter-xs;

//     @include card-position(1, 1, 5, 1, 2);
//     @include card-position(2, 1, 5, 2, 3);
//     @include card-position(3, 1, 5, 3, 4);
//     @include card-position(4, 1, 5, 4, 5);
//     @include card-position(5, 1, 5, 5, 6);
//     @include card-position(6, 1, 5, 7, 8);
//   }
// }

// @media (min-width: $breakpoint-sm + 1) {
//   .container {
//     margin: $margin-sm;
//     gap: $flex-gutter-sm;

//     @include card-position(1, 1,  5, 1, 2);
//     @include card-position(2, 5, 9, 1, 2);
//     @include card-position(3, 1,  5, 2, 3);
//     @include card-position(4, 5,  9, 2, 3);
//     @include card-position(5, 1,  5, 3, 4);
//     @include card-position(6, 5, 9, 3, 4);
//   }
// }

// @media (min-width: $breakpoint-md + 1) {
//   .container {
//     margin: $margin-md;
//     gap: $flex-gutter-md;

//     @include card-position(1, 1,  6, 1, 2);
//     @include card-position(2, 6, 11, 1, 2);
//     @include card-position(3, 1,  6, 2, 3);
//     @include card-position(4, 6,  11, 2, 3);
//     @include card-position(5, 1,  6, 3, 4);
//     @include card-position(6, 6, 11, 3, 4);
//   }
// }

// @media (min-width: $breakpoint-lg + 1) {
//   .container {
//     margin: $margin-lg;
//     gap: $flex-gutter-lg;

//     @include card-position(1, 1,  3, 1, 2);
//     @include card-position(2, 3,  9, 1, 3);
//     @include card-position(3, 9, 13, 1, 3);
//     @include card-position(4, 1,  3, 2, 3);
//     @include card-position(5, 1,  3, 3, 4);
//     @include card-position(6, 3, 13, 3, 4);
//   }
// }

// @media (min-width: $breakpoint-xl + 1) {
//   .container {
//     margin: $margin-xl;
//     gap: $flex-gutter-xl;

//     @include card-position(1, 1,  3, 1, 2);
//     @include card-position(2, 3,  9, 1, 3);
//     @include card-position(3, 9, 13, 1, 3);
//     @include card-position(4, 1,  3, 2, 3);
//     @include card-position(5, 1,  3, 3, 4);
//     @include card-position(6, 3, 13, 3, 4);
//   }
// }
