@import './typography.variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

// Define the font stack
$font-family-sans-serif: 'Open Sans', sans-serif;

// Apply Open Sans font to all text elements
html, body {
  font-family: $font-family-sans-serif;
}

.text-line-through {
  text-decoration: line-through;
}

.text-underline {
  text-decoration: underline;
}


/* xl.scss */
@media (min-width: $breakpoint-xl + 1) {
  @import 'typography-xl.variables.scss';
}

/* l.scss */
@media (min-width: $breakpoint-lg + 1) and (max-width: $breakpoint-xl) {
  @import 'typography-l.variables.scss';
}

/* md.scss */
@media (min-width: $breakpoint-md + 1) and (max-width: $breakpoint-lg) {
  @import 'typography-m.variables.scss';
}

/* s.scss */
@media (min-width: $breakpoint-sm + 1) and (max-width: $breakpoint-md) {
  @import 'typography-s.variables.scss';
}

/* xs.scss */
@media (min-width: $breakpoint-xs) and (max-width: $breakpoint-sm) {
  @import 'typography-xs.variables.scss';
}
